{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}
Players List
{% endblock head_title %}

{% block content %}
<div class="container my-5">

    {{object.first_name }}
    
    <div class="col-lg-3">
        <form action=""
            method="post">
            {% csrf_token %}
            {{form|crispy }}
            <div class="d-grid">
            <button class="btn btn-primary my-3" type="submit">update</button>
        </div>
        </form>
    </div>

</div>

{% endblock content %}